<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面不存在</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../webapp/static/css/semantic.min.css" >
    <link rel="stylesheet" href="../../webapp/static/css/me.css" >
</head>
<body>
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-huge" >
            <div class="ui contianer">
                <h2>404</h2>
                <p>对不起，你访问的资源不存在</p>
            </div>
        </div>
    </div>
</body>
</html>
