<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="atlan.ceer.mapper.QueryMapper">
    <select id="getTypeList" parameterType="HashMap" resultType="atlan.ceer.pojo.TypeBlog">
        select * from type_blog
        limit #{beginNum},10;
    </select>
    <select id="getTagList" parameterType="HashMap" resultType="atlan.ceer.pojo.TagBlog">
        select * from tag_blog
        limit #{beginNum},10;
    </select>
    <select id="getUserInfSimple" parameterType="HashMap" resultType="atlan.ceer.model.UserInfSimple">
        select id,nickname,username,avatar
        from user
        <where>
            <if test="username != null">
                username = #{username}
            </if>
            <if test="nickname != null">
                and nickname = #{nickname}
            </if>
            <if test="email != null">
                and email = #{email}
            </if>
        </where>
    </select>
</mapper>